<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devsu.library.pushclient">

    <permission android:name=".permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name=".permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.devsu.library.pushclient" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.PushListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.IdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RegistrationIntentService"
            android:exported="false">
        </service>

        <service
            android:name=".service.UnregistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
